
#container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
}


@media (max-width: 600px) {
    #container-flex {
        flex-direction: column;
        align-items: stretch;
    }
}